* {
	margin:0;
	padding:0;
}

html {
	box-sizing:border-box;
	background-color:rgba(102,102,102,0.25);
}

*, *:before, *:after {
	box-sizing:inherit;
}

#container {
	margin:0.5em;
	text-align:center;
}

h2 {
	padding:0.25em 0 0.125em 0;
	font-family:'Kumar One Outline', cursive;
	font-size:3em;
	text-transform:uppercase;
	letter-spacing:0.125em;
	color:rgb(102,51,102);
}

h3 {
	font-family:'Roboto', sans-serif;
	font-size:1.5em;
	color:rgb(0,51,102);
}
